<section class="col-md-4 mx-auto" *ngIf="!editflag"> 
    <div class="mt-2 text-center"> <b>Forgot Password</b></div>
    <br>
    <div class="alert alert-success" *ngIf="msg != undefined">{{msg}}</div>
    <div class="alert alert-danger" *ngIf="errorMsg != undefined" [innerHTML] = "errorMsg"></div>
  
  <form  #formdata="ngForm" novalidate (ngSubmit)="update(formdata)">
  
    <div>Mobile Number</div>
    <div><input type="number" placeholder="Enter the registered mobile number" name="userId" [(ngModel)]="objOfUser.phoneNumber" #ue="ngModel" required class="form-control" ></div>
    <div style="margin: 7px; padding: 7px; width: 100%;" class="alert alert-danger" *ngIf="ue.invalid && ue.touched" > *Phone number is required</div>
  <br>
  
  <div class="mt-2 text-center">
    <input type="submit" value="Proceed" class="btn btn-danger" [disabled]="!formdata.valid" class="btn btn-primary">
  </div>
  <br>

  <div class="mt-2 text-left">
    <input type="submit" routerLink="/login" value="Login" class="btn btn-success">
    <b>If You remember your password? </b>

  </div>
  
  <div class="mt-2 text-right">
    <b> Don't have an account?  </b> 
    <input type="submit" routerLink="/register" value="Register" class="btn btn-danger">
  </div>
  </form>
   
  </section>






 <section class="col-md-4 mx-auto" *ngIf="editflag"> 
    <div class="mt-2 text-center"> <b>Forgot Password</b></div>
    <div class="alert alert-success" *ngIf="msg != undefined">{{msg}}</div>
    <div class="alert alert-danger" *ngIf="errorMsg != undefined" [innerHTML] = "errorMsg"></div>
  
  <form  #formdata="ngForm" novalidate (ngSubmit)="update(formdata)">
  <div>Password</div>
  <div><input type="password" placeho  lder="Enter the new password" name="pass" [(ngModel)]="objOfUser.password" #up="ngModel" required class="form-control" ></div>
  <div style="margin: 7px; padding: 7px; width: 100%;" class="alert alert-danger" *ngIf="up.invalid && up.touched" > *Password is required</div>

  </form>
  </section>