<section class="col-md-10 mx-auto">
    <table class="table table-bordered table-hover col-md-10 text-center">
        <thead>
          <th>User ID</th>
          <th>User Name</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Password</th>
        </thead>
        <tbody>
          <tr *ngFor="let u of users">
            <td>{{u.userID}}</td>
            <td>{{u.userName}}</td>
            <td>{{u.phoneNumber}}</td>
            <td>{{u.email}}</td>
            <td>{{u.password}}</td>
          </tr>
        </tbody>
    </table>
    </section>