
<div *ngIf="transactionData.length>0">
<table class="table table-bordered table-hover col-md-10 ">
        <thead>
          
          <th>Sender</th>
          <th>Receiver</th>
          <th>Amount</th>
          <th>Transaction Id</th>
          <th>Date</th>
        </thead>
        <tbody>
          <tr *ngFor="let refOfClass of transactionData">
            <td>{{refOfClass.sender}}</td>
            <td>{{refOfClass.receiver}}</td>
            <td>{{refOfClass.amount}}</td>
            <td>{{refOfClass.transactionid}}</td>
            <td>{{refOfClass.time}}</td>

          </tr>
        </tbody>
    </table>
</div>

<div *ngIf="errorVarForData" class="loading">
  Opps!! No Transaction History
  <div class="loading1">Pay Payment to Make Many</div>
</div>

<div *ngIf="loading" class="loading">
  Loading ...
</div>
